header {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100% / 3);
}

.center {
  text-align: center;
}

.tada {
  animation: tada;
  animation-duration: 1s;
}

.bounce {
  animation: bounce;
  animation-duration: 1s;
}

.pacifico {
  font-family:
    Pacifico,
    sans-serif,
    cursive;
}

.sans-serif {
  font-family:
    sans-serif,
    cursive;
}

.header-img {
  width: 100%;
  height: 35rem;
}

.title-text {
  font-size: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.greeting-text {
  font-size: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
}

.product-img {
  margin-top: 1rem;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
